<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="FILE_LOG_PATTERN"
              value="%d %p %c{1} [%t] %m%n"/>

    <property name="DIR_LOG" value="logs"/>
    <property name="FILENAME" value="app"/>
    <appender name="console"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="appLog"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DIR_LOG}/${FILENAME}.log</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        </encoder>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${DIR_LOG}/archived/${FILENAME}.%d{ddMMMyyyy}.%i.log
            </fileNamePattern>
            <maxFileSize>20MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger level="INFO" name="com.rvbb.food.template">
        <appender-ref ref="appLog"/>
    </logger>
    <logger name="org.springframework"
            level="WARN">
        <appender-ref ref="appLog"/>
    </logger>
    <logger name="org.hibernate"
            level="INFO">
        <appender-ref ref="appLog"/>
    </logger>
    <logger name="org.apache"
            level="ERROR">
        <appender-ref ref="appLog"/>
    </logger>

    <root level="INFO" additivity="true">
        <appender-ref ref="console"/>
        <appender-ref ref="appLog"/>
    </root>
</configuration>
